.folder-title {
  flex: 1;
}

.folder-remove {
  opacity: 0;
}

.badge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blueviolet;
  cursor: pointer;
  margin-right: 10px;
}

.red {
  background-color: #ff0000;
}

.yellow {
  background-color: #cdff00;
}

.blue {
  background-color: #0056ff;
}

.pink {
  background-color: #EE82EE;
}

.green {
  background-color: #00ff00;
}

.orange {
  background-color: #EEC900;
}

.cyan {
  background-color: #00CDCD;
}