.tasks {
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  &__top {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 52px;

    img {
      cursor: pointer;
      margin-left: 15px;
      max-height: 21px;
      max-width: 21px;
      padding: 3px;
    }

    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 1px;
      top: 50px;
      background-color: #F2F2F2;
    }
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #64C4ED;
  }

  &__items {
    h2 {
      font-style: normal;
      font-weight: bold;
      text-align: center;
      font-size: 32px;
      line-height: 39px;
      color: #C9D1D3;
    }
  }
}