.add-folder {
  &__popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 235px;
    height: 148px;
    background: #FFFFFF;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 15px;

    .close {
      position: absolute;
      right: -8px;
      top: -8px;
      cursor: pointer;
    }
  }


  &__field {
    width: 100%;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 12px;
  }

  &__colors {
    ul {
      display: flex;
      justify-content: space-between;
    }

    .badge {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: blueviolet;
      cursor: pointer;
    }

    .red {
      background-color: #ff0000;
    }

    .yellow {
      background-color: #cdff00;
    }

    .blue {
      background-color: #0056ff;
    }

    .pink {
      background-color: #EE82EE;
    }

    .green {
      background-color: #00ff00;
    }

    .orange {
      background-color: #EEC900;
    }

    .cyan {
      background-color: #00CDCD;
    }

    .active {
      border: 2px solid #000000;
    }
  }

  &__button {
    background-color: #4DD599;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    width: 100%;

    &:hover {
      background: darken(#4DD599, 10%);
    }
  }
}