.add-folder {
  &__popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 235px;
    height: 148px;
    background: #FFFFFF;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 15px;
  }

  &__field {
    width: 100%;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 12px;
  }

  &__colors {
    ul {
      display: flex;
      justify-content: space-between;
    }

    .badge {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: blueviolet;
      cursor: pointer;

      &:hover {
        border:  1px solid #000000;
      }
    }

    .red {
      background-color: red;
    }

    .yellow {
      background-color: yellow;
    }

    .blue {
      background-color: blue;
    }

    .pink {
      background-color: pink;
    }

    .green {
      background-color: green;
    }
  }

  &__button {
    background-color: #4DD599;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    width: 100%;

    &:hover {
      background: darken(#4DD599, 10%);
    }
  }
}