* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo {
  width: 750px;
  display: flex;
  height: 530px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);

  &__sidebar {
    background-color: #F4F6F8;
    width: 250px;
    height: 100%;
    border-right: 1px solid #F1F1F1;
    padding: 55px 25px;
    font-size: 14px;
    font-weight: 400;
  }

  &__items {
    margin-bottom: 30px;

    li {
      display: flex;
      align-items: center;
      padding: 10px 12px;
      cursor: pointer;
      border-radius: 4px;
      margin-bottom: 5px;

      &.active {
        background: #FFFFFF;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
      }
    }

    i {
      margin-right: 10px;
      display: inline-flex;
    }
  }

  &__main {
    width: 500px;
    padding: 55px;
  }
}