*, *::after, *::before {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #EFEFEF;
}

.todo {
  display: flex;
  width: 750px;
  height: 530px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
  background-color: #FFFFFF;
  border-radius: 10px;


  &__sidebar {
    background-color: #F4F6F8;
    width: 250px;
    border-right: 1px solid #F1F1F1;
    padding: 50px 25px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px 0 0 10px;
  }

  &__items {
    margin-bottom: 30px;

    li {
      display: flex;
      align-items: center;
      padding: 10px 12px;
      cursor: pointer;
      border-radius: 4px;
      margin-bottom: 5px;

      &.active {
        background: #FFFFFF;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
      }

      &:hover .folder-remove {
        opacity: 1;
      }
    }

    i {
      margin-right: 10px;
      display: inline-flex;
    }
  }
}
